@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --purple: #7b4ae2;
  --foreground: #090e16;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-default-rgba: 255, 255, 255, 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--text-default-rgba));
  background: var(--foreground);
  font-family: "inherit";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
